anyio
blinker
certifi
charset-normalizer
click
colorama
et-xmlfile
Flask
Flask-Cors
gunicorn
h11
idna
install
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
packaging
pandas
pyodbc
python-dateutil
pytz
requests
six
sniffio
starlette
tzdata
urllib3
uvicorn
Werkzeug
